@import "../color-palette.scss";
@import "../variables.scss";

.drawer-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: $primary;
  color: white;
  z-index: 3;
  transition: width 0.3s ease;
  &--shrink {
    width: $drawer-narrow-width;
  }
  &--expand {
    width: $drawer-wide-width;
  }
  &__hamburger-icon,
  &__times-icon {
    width: 35px;
  }
  &--show {
    transform: translateX(0px);
    transition: all 0.2s ease;
    width: 230px;
  }
  &--hide {
    transform: translateX(-$drawer-wide-width);
    transition: all 0.2s ease;
  }
}
