td {
  line-height: 8px;
  font-weight: bold;
  @media (max-width: 767px) {
    line-height: 15px;
  }
}

.table-striped span {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.5);
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.03);
}

.progress-bar-wrapper {
  width: 60px;
  height: 10px;
}
