@import "../color-palette.scss";

.product-section-wrapper {
  background-color: white;
  border-radius: 10px;
  width: 90% !important;
  &__new-product-btn {
    background-color: #00ca81;
    color: white;
    font-weight: bold;
    &:hover {
      background-color: #00a267;
      color: white;
    }
  }

  &__filter-sort {
    font-size: 1.3rem;
    line-height: 40px;
  }
}

.has-search .form-control {
  padding-left: 2.8rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 1rem;
  height: 1rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
  margin-left: 1rem;
  margin-top: 0.6rem;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-color: transparent !important;
  border-bottom: 4px solid $primary !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: $primary !important;
  font-weight: bold !important;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
  color: rgba(0, 0, 0, 0.2) !important;
  font-weight: bold !important;
}
